body {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 7rem 1fr;
	grid-template-areas:
		"header"
		"main";
	transition: all 0.3s ease-in;
	max-width: auto;
	margin: auto;
}

/* -----nav---- */
.nav {
	grid-area: nav;
}

/* ---main---  */

.main {
	grid-area: main;
	overflow-y: scroll;
	margin: 0 0 1rem 0;
	padding: 2rem 1rem 1rem 4rem;
}

@media only screen and (max-width: 720px) {
	:root {
		font-size: 65%;
		--WIDTH-MAIN-CONTENT: 100%;
	}

	body {
		text-align: center;
		grid-template-areas:
			"header"
			"nav"
			"main";
		grid-template-columns: 1fr;
		grid-template-rows: max-content min-content 1fr;
	}

	.header,
	.main {
		justify-content: center;
		padding: 10px !important;
	}
}

@media only screen and (max-width: 400px) {
	:root {
		font-size: 60%;
	}

	.nav__links {
		width: 10rem;
	}
}
